.mainComments {
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: flex-start;
  gap: 1rem;

  & + & {
    margin: 2rem 0;
  }

  .imageBox {
    display: block;

    img {
      width: 100%;
    }
  }

  .main {
    display: flex;
    flex-direction: column;

    main {
      background-color: var(--gray-700);
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 8px;

      header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
          display: flex;
          flex-direction: column;
          gap: 5px;

          h4 {
            font-size: 0.875rem;
            color: var(--gray-100);

            span {
              color: var(--gray-400);
            }
          }

          p {
            font-size: 0.7rem;
            color: var(--gray-400);
          }
        }
      }

      .comment {
        width: 100%;
        margin: 1rem 0 0.3rem;
        display: flex;
        
        h5 {
          color: var(--gray-300);
        }
      }
    }

    footer {
      width: 100%;
      display: flex;

      span {
        font-size: 0.875rem;
        color: var(--gray-400);
      }
    }
  }

  .btnTrash {
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

    & > svg {
      color: var(--red);
    }
  }
}